# Python
__pycache__/
*.py[cod]
*.pyd

# Entornos virtuales
.venv/
venv/
env/
.conda/
Netflix_Cat_2021/

# Jupyter
.ipynb_checkpoints/

# Tests y herramientas
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# Visual Studio Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.*

# Copia original descargada
archive/